<div class="parallax-container">
    <div class="parallax"><img src="images/landscape-mountains-nature-clo.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h3 id="courses" class="center">Courses</h3>
        <div class="s12 m4 l4 offset-m2">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <h4 class="teal-text accent-3 center">Java for beginner</h4>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Small<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Detail<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="s12 m4 l4 offset-m2">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <h4 class="orange-text lighten-1 center">Java OOP</h4>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Medium<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Detail<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="s12 m4 l4 offset-m2">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <h4 class="light-blue-text accent-4 center">Laravel framework</h4>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Big<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Detail<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="images/rsz_nature-landscape.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h3 id="contact" class="center">Contact me</h3>
        <form ng-submit="contact()">
            <div class="row">
                <div class="input-field col offset-s3 s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="name" type="text" class="validate" ng-model="name" required>
                    <label for="name">Name</label>

                </div>
            </div>
            <div class="row">
                <div class="input-field col offset-s3 s6">
                    <i class="material-icons prefix">phone</i>
                    <input id="phone" type="tel" class="validate" ng-model="phone" required>
                    <label for="phone">Phone</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col offset-s3 s6">
                    <i class="material-icons prefix">email</i>
                    <input id="email" type="email" class="validate" ng-model="email" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="text" class="materialize-textarea" ng-model="content" required></textarea>
                    <label for="text">Content</label>
                </div>
            </div>
            <div class="row">
                <div class="center-align">
                    <button class="btn waves-effect waves-light light-blue" type="submit">Send
                        <i class="material-icons">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="images/italian-landscape-mountains-nature.jpg"></div>
</div>